[submodule "submodules/antlr4"]
	path = submodules/antlr4
	url = https://github.com/antlr/antlr4/
[submodule "submodules/json"]
	path = submodules/json
	url = https://github.com/nlohmann/json/
[submodule "submodules/date"]
	path = submodules/date
	url = https://github.com/HowardHinnant/date/
[submodule "submodules/magic_enum"]
	path = submodules/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "submodules/yamlcpp"]
	path = submodules/yamlcpp
	url = https://github.com/jbeder/yaml-cpp/
[submodule "submodules/aaltaf"]
	path = submodules/aaltaf
	url = https://github.com/jackbergus/aaltaf
[submodule "submodules/thread-pool"]
	path = submodules/thread-pool
	url = https://github.com/bshoshany/thread-pool
[submodule "submodules/cpp-httplib"]
	path = submodules/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "submodules/ctest"]
	path = submodules/ctest
	url = https://github.com/bvdberg/ctest
