.git-rewrite/

.RData
competitors/Burattin/ProM/*
competitors/SQLMinerBenchmarker/target/*
competitors/SQLMinerBenchmarker/.idea/*
competitors/ProM/*
.Rhistory
.idea/
.idea/*
cmake-build-debug/
cmake-build-debug/*
cmake-build-release/
cmake-build-release/*
dist/
dist/*
test/*
*.pdf
*.dot
dist/libantlr4-runtime.a
competitors/SQLMinerBenchmarker/target/*
competitors/SQLMinerBenchmarker/log/*.tab
competitors/SQLMinerBenchmarker/.idea
competitors/SQLMinerBenchmarker/.idea/*
competitors/SQLMinerBenchmarker/conf/postgresql.properties
/home/giacomo/projects/knobab/antlr4_gen.sh
antlr4/cpp/*
antlr4/*
fast_build/
fast_build/*	
antlr4/*
parall/
parall/*
ProM/competitors/
/competitors/Burattin/ProM/
/competitors/Exercises/
/competitors/RobotMonitor/
/competitors/VOIDPROJECT/
data/testing/hospital
data/testing/benchmarking_scripts/buratto.log.txt
data/testing/bpi_21
data/testing/bpic_2011
data/testing/sqlQueries
data/testing/bpic_2012
data/testing/bpic_2012
data/testing/sqlQueries
data/testing/bpic_2011
data/testing/bpi_21
data/testing/benchmarking_scripts/buratto.log.txt
build_test/
build_test/
data/testing/benchmarking_scripts/sql.log.txt
knobab_burattin_benchmark_new.csv
to_sam.zip
to_sam.zip
knobab_burattin_benchmark_new.csv
Expo.pdf
Expo.pdf
data/testing/benchmarking_scripts/sql.log.txt
data/testing/loan/
/home/giacomo/projects/knobab/data/testing/to_remove
/home/giacomo/projects/knobab/data/testing/to_remove
/home/giacomo/projects/knobab/data/testing/to_remove
/home/giacomo/projects/knobab/competitors/SQLMinerBenchmarker/.idea
/home/giacomo/projects/knobab/competitors/Burattin/graphing
/home/giacomo/projects/knobab/competitors/SQLMinerBenchmarker/target
competitors/Burattin/graphing
