.RData
competitors/Burattin/ProM/*
competitors/SQLMinerBenchmarker/target/*
competitors/SQLMinerBenchmarker/.idea/*
competitors/ProM/*
.Rhistory
.idea/
.idea/*
cmake-build-debug/
cmake-build-debug/*
cmake-build-release/
cmake-build-release/*
dist/
dist/*
test/*
*.pdf
*.dot
dist/libantlr4-runtime.a
competitors/SQLMinerBenchmarker/target/*
competitors/SQLMinerBenchmarker/log/*.tab
competitors/SQLMinerBenchmarker/.idea
competitors/SQLMinerBenchmarker/.idea/*
competitors/SQLMinerBenchmarker/conf/postgresql.properties
/home/giacomo/projects/knobab/antlr4_gen.sh
antlr4/cpp/*
antlr4/*
fast_build/
fast_build/*	
antlr4/*
parall/
parall/*
ProM/competitors/
/competitors/Burattin/ProM/
/competitors/Exercises/
/competitors/RobotMonitor/
/competitors/VOIDPROJECT/
data/testing/hospital
data/testing/benchmarking_scripts/buratto.log.txt
