[submodule "submodules/thread_pool"]
	path = submodules/thread_pool
	url = https://github.com/progschj/ThreadPool/
[submodule "submodules/jsonwriter"]
	path = submodules/jsonwriter
	url = https://github.com/dmishin/json-stream-writer
[submodule "submodules/date"]
	path = submodules/date
	url = https://github.com/HowardHinnant/date
[submodule "submodules/capnproto"]
	path = submodules/capnproto
	url = https://github.com/capnproto/capnproto
[submodule "submodules/cpp-lru-cache"]
	path = submodules/cpp-lru-cache
	url = https://github.com/lamerman/cpp-lru-cache
