competitors/ProM/*
.Rhistory
.idea/
.idea/*
cmake-build-debug/
cmake-build-debug/*
dist/
dist/*
test/*
*.pdf
*.dot
dist/libantlr4-runtime.a
competitors/SQLMinerBenchmarker/target/*
competitors/SQLMinerBenchmarker/log/*.tab
competitors/SQLMinerBenchmarker/.idea
competitors/SQLMinerBenchmarker/.idea/*
competitors/SQLMinerBenchmarker/conf/postgresql.properties
*.csv
